@model QLThuCung.Models.ThuCung

<div class="container p-5">
    <div class="card my-card my-5 mx-auto">
        <div class="card-header">
            <p class="card-title text-center m-0 p-0"><strong>THÔNG TIN THÚ CƯNG</strong></p>
        </div>
        <div class="card-body p-5">
            <div class="d-flex">
                <div class="mx-3">
                    <div class="shadow" style="width: 200px; aspect-ratio:1/1; overflow: hidden; border-radius: 50%;">
                        @{var imageUrl = string.IsNullOrEmpty(Model.AnhDaiDien) ? "/assets/images/default_AvtForPet.jpg" : Model.AnhDaiDien.ToString();}
                        <img class="w-100 h-100" src="@imageUrl"></img>
                    </div>
                </div>
                <div class="mx-3 d-flex align-items-center">
                    <div>
                        <p><strong>Thú cưng: </strong>@Model.Ten</p>
                        <p><strong>Giới tính: </strong>@{var GioiTinh = Model.GioiTinh == 1 ? "Đực" : "Cái";} @GioiTinh</p>
                        <p><strong>Giống: </strong>@Model.Giong.Ten</p>
                        <p><strong>Loài: </strong>@Model.Giong.Loai.Ten</p>
                        <p><strong>Tuổi: </strong>@Model.Tuoi Tháng</p>
                        <p><strong>Cân nặng: </strong>@Model.CanNang KG</p>
                        <p><strong>Đặc điểm nhận dạng: </strong>@Model.DacDiem</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="/khachhang/thucung/chinhsua/@Model.Id" class="btn btn-primary">Cập nhật</a>
            <a href="/khachhang/thucung" class="btn btn-secondary">Quay lại</a>
        </div>
    </div>
</div>