@model IEnumerable<QLThuCung.Models.DichVu>
@{
    decimal giaMin, giaMax;
    decimal min = 0;
    decimal max = 0;
}

<div class="container">
    <div class="mt-5 pt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/khach-hang">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dịch vụ</li>
            </ol>
        </nav>
    </div>
    <p class="PageTitle m-3">Dịch vụ</p>
    <div class="row">
        <div class="col-9">
            <div class="list_service d-flex flex-wrap">
                @foreach(var item in Model){
                    <div class="card shadow service_card">
                        <div class="card-header">
                            <p class="title">@item.Ten.ToUpper()</p>
                        </div>
                        <div class="card-body">
                            <div>
                                <img src="@item.AnhDichVu.FirstOrDefault().DuongDan"></img>
                                @{
                                    giaMin = @item.BangGiaDV.SelectMany(x => x.ChiTietBangGiaDV).Min(x => x.ChiPhi);
                                    giaMax = @item.BangGiaDV.SelectMany(x => x.ChiTietBangGiaDV).Max(x => x.ChiPhi);
                                }
                                <p class="price">@giaMin.ToString("N0")@(giaMin == giaMax ? "" : " - " + giaMax.ToString("N0")) VNĐ</p>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-center align-items-center">
                            <button class="btn btn-primary w-100" onclick="Details(@item.Id)">Xem chi tiết</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-3">
            <div class="card shadow service_card">
                <div class="card-header">
                    <p class="title">Dịch vụ trọn gói</p>
                    <div class="mt-3 d-flex justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z" />
                        </svg>
                    </div>
                    <div class="card-body">
                        <ul>
                            @foreach(var item in Model){
                                <li>@item.Ten</li>
                            }
                        </ul>
                        @{
                            foreach(var item in Model ){
                                min += @item.BangGiaDV.SelectMany(x => x.ChiTietBangGiaDV).Min(x => x.ChiPhi);
                                max += @item.BangGiaDV.SelectMany(x => x.ChiTietBangGiaDV).Max(x => x.ChiPhi);
                            }     
                        }
                        <p class="price">@min.ToString("N0") - @max.ToString("N0") VNĐ</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary w-100" href="/khachhang/datlich/">Đặt lịch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="serviceDetailModal" tabindex="-1" aria-labelledby="serviceDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content service-detailscard">
            <div class="modal-header">
                <h5 class="modal-title" id="serviceDetailModalLabel">CHI TIẾT DỊCH VỤ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="serviceDetail">
                <!-- Nội dung chi tiết dịch vụ sẽ được tải vào đây -->
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        function Details(serviceId) {
            $.ajax({
                url: '/khachhang/dichvu/' + serviceId,  // Gọi Action Detail
                type: 'GET',
                success: function (data) {
                    // Hiển thị PartialView trả về vào vùng div #serviceDetail
                    $('#serviceDetail').html(data);
                    // Mở modal sau khi cập nhật nội dung
                    $('#serviceDetailModal').modal('show');
                },
                error: function () {
                    alert("Không thể tải chi tiết dịch vụ.");
                }
            });
        }
    </script>
}